.tab-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: #F7F7F7;
    padding: 3px 10px;
    border-top: 1px solid #c1c1c1;
}

tab-bar .tab-bar-tab {
    text-align: center;
    text-decoration: none;
    transition: transform .3s ease-in-out;
}

.tab-bar .tab-bar-tab img {
    display: bloxk;
    height: 25px;
    margin-bottom: 10px;
    margin-top: 9px;
}
.tab-bar .tab-bar-tab:hover {
    transform: scale(1.1);
}

.reactive-user img,
.reactive-speech img {
    position: absolute;
}
.reactive-user > .user-black {
    opacity: 0;
    transition: opacity 1s
}
.reactive-user:hover > .user-black {
    opacity: 1;
}
.reactive-speech > .speech-black {
    opacity: 0;
    transition: opacity 1s;
}
.reactive-speech:hover > .speech-black {
    opacity: 1;
}