.chats-image {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    margin-right: 15px;
}
.create-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 80px;
    right: 20px;
}
.new-message-icon {
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.chats-list {
    border-top: 1px solid #F7f7f7;
}
.chats-list .chats-item {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #F7f7f7;
}
.chats-item a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
}

.chats-date-time {
    font-size: 11px;
    color: #afafaf;
}
.chats-preview h3{
    font-weight: 600;
    margin-bottom: 5px;
}
.chats-preview span {
    font-size: 12px;
    color: #afafaf;
}
.chats-item .chats-content {
    display: flex;
    align-items: flex-start;
}
